<!DOCTYPE html>
<html>
<head>
	<title>Social Netwoking Site</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/">Dashboard</a></li>
							<li role="presentation"><a href="/wpost">write new post</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Social networking site</h3>
      </div>

<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
</br>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><script type="text/javascript">
        document.write(jsonObj)
      </script></h4>
  <p><script type="text/javascript">
        document.write(jsonpost)
      </script></p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  {{#times 10}}
  <p>{{allPosts}}</p>
  {{/times}}
</div>
</div>
</body>
</html>
